html, body { 
    max-width: 100%;
    overflow-x: hidden; 
}
 
header{
    background-color: #37392e;
    margin: 0%;
    padding: 0%;
    margin-top: 0%;
    margin-left: 0%;
    display: flex;
    height: 80px;
    width: auto;
    place-items: end;
    justify-content: space-between;
}

header h1{
    font-family: 'Lexend Deca', sans-serif;
}

header ul{
    display: inline-flex;
    gap: 26px;
    list-style-type: none;
    margin-right: 2rem; 
    @import url('https://fonts.cdnfonts.com/css/roboto');
}

nav{
    font-family: 'Roboto Black', sans-serif;
}

body{
    background-color: #40798c;
    margin: 0%;
}

a{
    color: #f6f1d1;  
    text-decoration: none;
}

.header-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: #eee;
    z-index: 9999;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
    
.header-fixed h1 a{
    display: block;
    text-align: center;
}
    
.header-relative{
    height: 150px;
}
    
.header-fixed.resized{
    top: -75px;
}
    
.header-fixed.resized img{
    padding-top: 60px;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
}

article{
    background-color: #28afb0;
    margin-top: 30%;
    height: auto;
    width: 100%;
}

#footer, #push {
    height: 17px;
    clear: both;
}


footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #37392e;
    color: white;
}

footer h3{
    margin: 0%;
    padding: 0;
}

section{
    height: 300px;
    width: 100%;
    background-color: #0b2027;
}

section h1{
    font-family: 'Lexend Deca', sans-serif;
}

section h4{
    font-family: 'Roboto Black', sans-serif;
    color: #f6f1d1;
}

#mat{
    background-color: #f6f1d1;
}

.cards1{
    background-color: #28afb0;
    width: 30%;
    border-radius: 5px;
    
}

.cards2{
    width: 20%;
    border-radius: 5px;
    
}


.cards1 h2{
    text-align: center;
    color: #37392e;
    @import url('https://fonts.cdnfonts.com/css/lexend-deca');
}

svg{
    height: 200px;
}